@import url("https://fonts.cdnfonts.com/css/ferro-rosso");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Exo 2", sans-serif;

  font-weight: 600;
  margin: 0;
  background-color: #fce6e6;
  color: #333;
}

header {
  background: linear-gradient(to bottom, #9c0000, #ff0000);
  padding: 40px 0;
  text-align: center;
  color: #fff;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

header h1 {
  margin: 0;
  font-size: 4em;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Ferro Rosso", sans-serif;
}
h2 {
  font-family: "Ferro Rosso", sans-serif;
}

header p {
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.intro img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0);
  display: block;
  margin: 30px auto;
}

.intro p,
.biography p,
.legacy p,
.cars p {
  font-size: 1.15em;
  line-height: 1.8em;
  text-align: justify;
  margin: 20px 0;
}

.biography,
.legacy {
  margin: 30px 0;
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 10px 4px 10px 4px rgba(0.2, 0, 0, 0.2);
}

h2 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 30px;
  color: #c10000;
  font-weight: 700;
  margin-top: 10px;
}

span {
  font-size: 1.5rem;
  font-weight: 800;
}
.cars {
  margin: 30px 0;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 10px 4px 10px 4px rgba(0.2, 0, 0, 0.2);
  text-align: center;
}

.car-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  padding: 20px 0;
}

.car {
  width: 30%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 10px 4px 10px 4px rgba(0.2, 0, 0, 0.2);
  animation: slide 10s infinite alternate;
}

@keyframes slide {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

.car-gallery {
  animation: slide 1.5s ease-in-out infinite;
}

footer {
  background-color: #333;
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

footer p {
  margin: 0;
  font-size: 1em;
}
